.home {
  display: flex;
}

.product-card {
  max-width: 200px;
  max-height: 300px;
  margin-left: 30px;
}

.product-image{
  max-width: 200px;
  max-height: 200px;
}

.footer {
  position: relative;
  height: 110px;
}

.price{
  font-size: 20px;
  color: red;
}
.action {
  position: absolute;
  bottom: 0;
}

/* .btn {
  background-color: dodgerblue;
  color: white;
  padding: 10px;
  margin: 8px 0;
  border: none;
  width: 100%;
  border-radius: 3px;
  cursor: pointer;
  font-size: 14px;
}

.btn:hover {
  background-color: darkturquoise;
} */
